@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bg-primary {
  background-color: #5c3cbb;
}
.bg-primary:hover {
  background-color: #4b2aad;
}
.text-primary {
  color: #5c3cbb;
}
.submenu {
  border-left: 2px solid #e0e0e0;
  padding-left: 1rem;
}

.submenu-item {
  margin-top: 0.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
  display: flex;
}

.file-input {
  border: 0.5px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.file-input:focus {
  border-color: #5c3cbb;
  outline: none;
}

.primary-bold {
  font-weight: 1000;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}
.markdown {
  height: 400px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}
html {
  scroll-behavior: smooth;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}

.swiper-slide.swiper-slide-active {
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active > .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active
  > .flex
  .grid
  .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}
