@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bg-primary {
  background-color: #5c3cbb;
}
.bg-primary:hover {
  background-color: #4b2aad;
}
.text-primary {
  color: #5c3cbb;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}
.markdown {
  height: 400px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}

.swiper-slide.swiper-slide-active {
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active > .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active
  > .flex
  .grid
  .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}
